{% extends 'base.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_profile.css' %}">
{% for p in profile %}

<p>
    <hr>
</p>
<p>
    <hr>
</p>


<div class="card">
  <img height="300" src="{{ p.image.url }}" alt="John" style="width:70%">
  <h1> {{ p.full_name }}</h1>
  <p class="title"> {{ p.skill }}</p>
  <p> {{ p.email }}</p>
    <p> {{ p.versity_id_number }}</p>
  <div style="margin: 24px 0;">
    <a href="{{ p.github }}"><i class="fa fa-github">Github|</i></a>
    <a href="{{ p.linkedin }}"><i class="fa fa-linkedin">Linkedin|</i></a>
    <a href="{{ p.facebook }}"><i class="fa fa-facebook">Facebook</i></a>
  </div>
    <p><a href="{% url 'feedback' %}"> <button> Requested CV </button></a></p>
</div>

{% endfor %}

{% endblock %}
